

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']" routerLinkActive="active"> <mat-icon>home</mat-icon> </a> 
        <a mat-list-item [routerLink]="['aspnetmodelView']" routerLinkActive="active">List of Models</a>
        <a mat-list-item [routerLink]="['RDLaspnetmodelView']" routerLinkActive="active">List of Models Dlg</a>
        <a mat-list-item [routerLink]="['aspnetroleView']" routerLinkActive="active">List of Roles</a>
        <a mat-list-item [routerLink]="['RDLaspnetroleView']" routerLinkActive="active">List of Roles Dlg</a>
        <a mat-list-item [routerLink]="['aspnetuserView']" routerLinkActive="active">List of Users</a>
        <a mat-list-item [routerLink]="['RDLaspnetuserView']" routerLinkActive="active">List of Users Dlg</a>
        <a mat-list-item [routerLink]="['/asplformsfeature']" routerLinkActive="active">AspLforms Feature</a> 
        <a mat-list-item [routerLink]="['/aspuserrlistfeature']" routerLinkActive="active">Incorrect: AspUserRlist Feature</a> 
        <a mat-list-item [routerLink]="['/asprlfeature01']" routerLinkActive="active">AspRl01 Feature</a> 
        <a mat-list-item [routerLink]="['/asprdlfeature01']" routerLinkActive="active">AspRdl01 Feature</a>
<!--
        <a mat-list-item [routerLink]="['/admin1feature']" routerLinkActive="active">Admin1</a> 
-->
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: lavender">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{apptitle}}</span>
            <span fxFlex="1 1 auto"></span>
            <label>{{ userName }}</label>
            <button mat-icon-button [matMenuTriggerFor]="authMainMenu" >
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #authMainMenu="matMenu">
              <button mat-menu-item [routerLink]="['/authentication/login']">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign in</span>
              </button>
              <button mat-menu-item  [routerLink]="['/authentication/logout']">
                <mat-icon>link_off</mat-icon>
                <span>Sign out</span>
              </button>
              <button mat-menu-item  [routerLink]="['/authentication/register']">
                <mat-icon>person_add</mat-icon>
                <span>Registration</span>
              </button>
              <button mat-menu-item  [routerLink]="['/authentication/changepassword']">
                <mat-icon>edit</mat-icon>
                <span>Change Password</span>
              </button>
            </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>

         <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
