

<div class="pagenotfound-container">
    <div class="pagenotfound-item-container" fxLayout="column" fxLayoutAlign="center space-between">
        <h1 fxLayout="row" fxLayoutAlign="center"> 
            <button mat-fab color="warn" >
              <mat-icon>error</mat-icon>
            </button>
        </h1>
        <h1 fxLayout="row" fxLayoutAlign="center" i18n="404 Page Not Found@@AppGlblPagenotfoundComponent.404-Page-Not-Found"> 404 Page Not Found </h1>

        <router-outlet></router-outlet>
    </div>
</div>


